---
layout: default
comments: true
---

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
	this.page.url = '{{content.absolute_url}}';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '{{content_id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://codogenydn.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
<!-- <script id="dsq-count-scr" src="//codogenydn.disqus.com/count.js" async></script> -->
{% endif %}
<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

